.b*
notes*
app copy.py
app_general.py
app_v1.py
archive
universe_with_events*
universe_with_quests*
universe*
*memories.json
memories.json
memory.py
app_with_memory.py
scripts
*.pyc
.DS_Store
__pycache__
*.log
instance
base_v*.html
home_v*.html
npc_chat_v*.html
test*
data
instance
project_tree.txt

static/videos
static/images
static/landing_page